@import "bootstrap";


// media queli
$pc: 1024px; // PC
$tab: 680px; // tablet
$sp: 480px;  // smartphone

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
    }
  }
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
    }
  }
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
}

// button

.btn {
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    background: #668ad8;
    color: #fff;
    border-bottom: 4px solid #627295;
    border-radius: 3px;

    &:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
    }
}

body {
    background-color: white;
}

.main-container {

    position: relative;

    a {
        font-size: 30px;
        padding: 1rem;
    }

    p {
        font-weight: bold;
    }

    h1 {
        font-size: 4rem;
    }

    .bd-container {
        opacity: 0.5;
    }
    
    .welcome-options {
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

}

.footer {
    background-color: black;
    color: white;
}

// users registraion edit

.registration-edit {
    display: flex;

    @include pc {
    };

    @include tab {
        display: inherit;
        margin-left: -12rem;
        .image {
            margin-left: 12rem;
        }
    };

    @include sp {
        display: inherit;
        margin-left: -12rem;
        .image {
            margin-left: 12rem;
        }
    };

    .options {
        padding-left: 12rem;
    }


}

// rooms index

.user-intro {
    padding: 20px;
    text-align: center;

    span {
        font-size: 45px;
        padding: 20px 0 0 10px;
    }

    .image {
        border-radius: 50%;
    }

    .btn {
        margin-left: 30px;
    }

}  

.room-list {
    span {
        font-size: 30px;
        margin-right: 50px;
    }
}

// rooms show
.chat-room-whole  {
    background-color: #F8F8FF;
  .chat-room {

   .room-header {
    text-align: center;

      .btn {
          margin-left: 60%;

      }

    }

  }

  #messages {
    margin-left: 50px;
  }

  .send-box {
      margin-left: 65%;
      padding: 10px;
  }

  input[type="text"] {
      border: 1px solid black;
      width: 200px;
  }

}



// _message.html.erb

.message {
    padding: 8px;

    .icon {
        border-radius: 50%;
    }

    .message-content {
        padding: 5px;
        margin-left: 5px;
        background-color: #87CEFA;
        border-radius: 10px;
        display: inline-block;
    }

}

// user show.html.erb

h1 {
    text-align: center;
}

.show-user {
    margin: 40px 0 0 20%;
    display: flex;

    .user-prof {
        margin: 2% 0 0 5%;

        p {
            border: 1px solid black;
            padding: 10px;
        }

    }

}